
.productgrid{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-left: 2rem;
    gap: 1rem;
    height: 80vh;
    overflow: scroll;
}

.pcard{
    padding: 1rem;
    height: auto;
    max-width: 11rem;
    background-color: var(--third);
    border-radius: 8px;
    color: var(--dark);
}

.pcard img{
    height: 5rem;
    width: auto;
   
    border-radius: 0;
}