
.topbar{
    padding: 0.8rem;
    display: flex;
    flex-direction: row-reverse;
   height: 3.8rem;
   /* width: 60vw; */
   margin-left: 5rem;
   background-color: var(--third);
   /* border-bottom: 1px solid var(--dark); */
}

.topitem{
    margin-left: 5rem;
    font-size: 2rem;
    color: var(--primary);
}

.topitem:hover{
        color: var(--secondary);
}