
.contactslist{
    display: flex;
    flex-direction: column;
    width: 25rem;
    margin-left: 3rem;
    border-radius: 8px;
    border: 1px solid var(--secondary);
}

.contactdetails{
    margin-left: 3rem;
    width: 69rem;
    border-radius: 8px;
    border: 1px solid var(--secondary);
}

.topitem{
    margin-left: 5rem;
    font-size: 2rem;
    color: var(--primary);
}

.topitem:hover{
        color: var(--secondary);
}

.listcard{

    background-color: var(--third);
    height: 5rem;
    margin-bottom: 1rem;
}

img{
    height: 3rem;
}