
.contactslist{
    display: flex;
    flex-direction: column;
    width: 21rem;
    margin-left: 3rem;
    border-radius: 8px;
    border: 1px solid var(--secondary);
}

.contactdetails{
    margin-left: 3rem;
    width: 69rem;
    border-radius: 8px;
    border: 1px solid var(--secondary);
}

/* .listcard{
    background-color: var(--third);
    height: 5rem;
    margin-bottom: 1rem;
} */